<!-- templates/base.html -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MeshStore</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/js/standalone/selectize.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/css/selectize.default.min.css"/>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdn.socket.io/4.4.1/socket.io.min.js"></script>
    <link rel="icon" href="{{ url_for("static", filename="logo.png") }}">
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{ url_for("static", filename="vendor/bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="vendor/bootstrap-icons/bootstrap-icons.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="vendor/boxicons/css/boxicons.min.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="vendor/quill/quill.snow.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="vendor/quill/quill.bubble.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="vendor/remixicon/remixicon.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="vendor/simple-datatables/style.css") }}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js">
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/css/suggestions.min.css" rel="stylesheet"/>
    <!-- Подключение стилей Select2 -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/js/standalone/selectize.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/css/selectize.default.min.css"/>

    <script type="text/javascript">
        function showHideRow(row) {
            $("#" + row).toggle();
        }
    </script>

    <!-- Template Main CSS File -->
    <link href="{{ url_for("static", filename="css/style.css") }}" rel="stylesheet">
    {% block head %}
        <style>
            .navbar {
                box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
            }
        </style>
    {% endblock %}
    <style>
        .profile-picture {
            position: relative;
        }

        .profile-delete {
            position: absolute;
            bottom: 0;
        }


        form.row {
            max-width: fit-content;
        }

        .mysidebar {
            min-width: fit-content;
            position: absolute;
            min-height: calc(100vh - 52px);
            background-color: #42506B;
        }

        body {
            font-size: 12px !important;
            background-color: #fff;
        }

        a {
            color: #ffffff
        }

        .btn {
            color: #000 !important;
        }

        a {
            color: #4154f1 !important;
            text-decoration: none;
        }

        h1, h2, h3, h4, h5, h6 {
            color: #012970 !important;
            font-family: "Nunito", sans-serif;
        }

        .row {
            text-align: center !important;
        }

        .notifications {
            max-height: 90vh;
            overflow: auto;
        }

        .header {
            transition: all 0.5s;
            z-index: 997;
            height: 60px;
            box-shadow: 0px 2px 20px transparent !important;
            background-color: transparent !important;
            padding-left: 20px;
        }

        .sidebar {
            top: 0 !important;
            padding: 60px 20px !important;
        }

        table {
            margin-top: 0 !important;
            font-size: 12px;
        }

        .hidden_row {
            display: none;
        }

        .right {
            margin-left: auto;
            margin-right: 0;
        }

        .left {
            margin-left: 0;
            margin-right: auto;
        }

        .suggestions-wrapper {
            position: absolute;
            margin: 33px 0 0 0;
            margin-left: 0px;
            width: 100%;
        }
    </style>
</head>

<body>
<section>

    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->


        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <!--li class="nav-item dropdown">

                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-bell"></i>
                        <span class="badge bg-primary badge-number">0</span>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                        <li class="dropdown-header">
                            У вас 0 непрочитанных уведомления
                            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2"></span></a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                    </ul>

                </li-->

                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-person-fill rounded-circle" style="font-size: 25px;"></i>
                        <!--span class="d-none d-md-block dropdown-toggle ps-2">{{ current_user.name }}</span-->
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>{{ current_user.name }}</h6>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/profile">
                                <i class="bi bi-person"></i>
                                <span>Профиль</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="{{ url_for('auth.logout') }}">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Выйти</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->

    {% if current_user.is_authenticated %}
        <aside id="sidebar" class="sidebar">

            <ul class="sidebar-nav" id="sidebar-nav">
                <a href="/profile" style="max-height: 50px">
                    <div style="text-align: center"><img
                            src="{{ url_for('static', filename="logo.png") }}"
                            style="height:100px;margin: 0 5px 0 0;">
                    </div>
                </a>
                <li>
                    <hr class="divider">
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="/">
                        <i class="bi bi-people"></i>
                        <span>Пользователи и метки</span>
                    </a>
                </li><!-- End Dashboard Nav -->
                {% if current_user.role == 2 %}
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="/groups">
                            <i class="bi bi-hdd-network"></i>
                            <span>Сети</span>
                        </a>
                    </li><!-- End Dashboard Nav -->
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link collapsed" href="{{ url_for('main.beacons') }}">
                        <i class="bi bi-router"></i>
                        <span>Маяки</span>
                    </a>
                </li><!-- End Dashboard Nav -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="/user-groups">
                        <i class="bi bi-people-fill"></i>
                        <span>Группы пользователей</span>
                    </a>
                </li><!-- End Dashboard Nav -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="/notifications">
                        <i class="bi bi-app-indicator"></i>
                        <span>Уведомления</span>
                    </a>
                </li><!-- End Dashboard Nav -->
                {% if current_user.role == 1 %}
                    <li class="nav-item">
                        <a class="nav-link collapsed disabled" href="#app">
                            <i class="bi bi-palette"></i>
                            <span>Дизайн приложения</span>
                            <span class="badge bg-danger">₽</span>
                        </a>
                    </li><!-- End Dashboard Nav -->
                    <li class="nav-item">
                        <a class="nav-link collapsed disabled" href="#languages">
                            <i class="bi bi-translate"></i>
                            <span>Языки</span>
                            <span class="badge bg-danger">₽</span>
                        </a>
                    </li><!-- End Dashboard Nav -->
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link collapsed disabled" href="#languages">
                            <i class="bi bi-translate"></i>
                            <span>Язык админ панели</span>
                            <span class="badge bg-danger">₽</span>
                        </a>
                    </li><!-- End Dashboard Nav -->
                {% endif %}
            </ul>
        </aside><!-- End Sidebar-->
    {% endif %}

    <main id="main" class="main">

        {% block content %}
        {% endblock %}

    </main><!-- End #main -->
</section>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var eventCalllback = function (e) {
            var el = e.target,
                clearVal = el.dataset.phoneClear,
                pattern = el.dataset.phonePattern,
                matrix_def = "+7(___) ___-__-__",
                matrix = pattern ? pattern : matrix_def,
                i = 0,
                def = matrix.replace(/\D/g, ""),
                val = e.target.value.replace(/\D/g, "");
            if (clearVal !== 'false' && e.type === 'blur') {
                if (val.length < matrix.match(/([\_\d])/g).length) {
                    e.target.value = '';
                    return;
                }
            }
            if (def.length >= val.length) val = def;
            e.target.value = matrix.replace(/./g, function (a) {
                return /[_\d]/.test(a) && i < val.length ? val.charAt(i++) : i >= val.length ? "" : a
            });
        }
        var phone_inputs = document.querySelectorAll('[data-phone-pattern]');
        for (let elem of phone_inputs) {
            for (let ev of ['input', 'blur', 'focus', 'load']) {
                elem.addEventListener(ev, eventCalllback);
            }
        }
    });
</script>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{{ url_for("static", filename="vendor/apexcharts/apexcharts.min.js") }}"></script>
<script src="{{ url_for("static", filename="vendor/bootstrap/js/bootstrap.bundle.min.js") }}"></script>
<script src="{{ url_for("static", filename="vendor/chart.js/chart.min.js") }}"></script>
<script src="{{ url_for("static", filename="vendor/echarts/echarts.min.js") }}"></script>
<script src="{{ url_for("static", filename="vendor/quill/quill.min.js") }}"></script>
<script src="{{ url_for("static", filename="vendor/simple-datatables/simple-datatables.js") }}"></script>
<script src="{{ url_for("static", filename="vendor/tinymce/tinymce.min.js") }}"></script>
<script src="{{ url_for("static", filename="vendor/php-email-form/validate.js") }}"></script>

<!-- Template Main JS File -->
<script src="{{ url_for("static", filename="js/main.js") }}"></script>

</body>

</html>
