<!-- templates/index.html -->

{% extends "base.html" %}

{% block head %}
    <style>
        .save-tag {
            display: none;
        }

        #add-user-form {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    <div style="text-align: center">
        <h1>Сети</h1>
        <div class="card">
            <div class="card-body pt-3">
                <div style="overflow-x:auto;">
                    <form action="/groups" method="GET" class="mt-4 mb-4">
                        <div class="input-group mb-3">
                            <input type="text" name="search" class="form-control"
                                   placeholder="Поиск по имени, email или телефону" value="{{ search_query }}">
                            <button class="btn btn-outline-secondary" type="submit" id="search-button"><i
                                    class="bi bi-search"></i></button>
                        </div>
                    </form>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Название</th>
                            <th scope="col">Кол-во админов</th>
                            <th scope="col">Кол-во пользователей</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in data %}
                            {% if True %}
                                <tr><!--onclick="window.location.href='/user/{{ i.id }}'; return false"-->
                                    <td>
                                        {{ i.id }}
                                    </td>
                                    <td>
                                        <span class="tag">
                                            <span id="name-{{ i.id }}" class="tag">{{ i.name }}
                                            </span>
                                            <button class="edit-tag name btn btn-small   p-0" data-user-id="{{ i.id }}"
                                                    data-attr="name">
                                                <i class="bi bi-pencil-fill"></i>
                                            </button>
                                            <button class="save-tag name btn   p-0" data-user-id="{{ i.id }}"
                                                    data-attr="name">
                                                <i class="bi bi-save"></i>
                                            </button>
                                        </span>
                                    </td>
                                    <td>
                                        {{ i.admins }}
                                    </td>

                                    <td>
                                        {{ i.users }}
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-danger rounded-circle" data-bs-toggle="modal"
                                                data-bs-target="#confirmDeleteModal{{ i.id }}"><i
                                                class="bi bi-trash"></i></button>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        <tr id="add-user-button">
                            <td colspan="10" style="text-align: center;">
                                <button id="add-user-show" class="btn" data-bs-target="#add_group"
                                        data-bs-toggle="modal">Создать
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="pagination" class="d-flex justify-content-end mt-3">
                    <nav aria-label="Навигация">
                        <ul class="pagination">
                            {% if users.has_prev %}
                                <li class="page-item">
                                    <a class="page-link" href="?search={{ search_query }}&page={{ users.prev_num }}"><i
                                            class="bi bi-caret-left-fill"></i></a>
                                </li>
                            {% endif %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="?search={{ search_query }}&page={{ users.page }}">{{ users.page }}</a>
                            </li>
                            {% if users.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?search={{ search_query }}&page={{ users.next_num }}"> <i
                                            class="bi bi-caret-right-fill"></i></a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.edit-tag').click(function () {
                var userId = $(this).data('user-id');
                var attr = $(this).data('attr');
                var tagSpan = $('#' + attr + '-' + userId);
                var tagInput = $('<input>').attr({
                    type: 'text',
                    id: 'edit-' + attr + '-' + userId,
                    value: tagSpan.text()
                });
                tagSpan.replaceWith(tagInput);
                $(this).hide();
                $('.save-tag.' + attr + '[data-user-id=' + userId + ']').show();
            });

            $('.save-tag').click(function () {
                var userId = $(this).data('user-id');
                var attr = $(this).data('attr');
                var newTag = $('#edit-' + attr + '-' + userId).val();
                $.post('/webapi/edit_group', {user_id: userId, new_value: newTag, arg_name: attr}, function (data) {
                    if (data.success) {
                        var tagInput = $('#edit-' + attr + '-' + userId);
                        var tagSpan = $('<span>').attr({
                            id: attr + '-' + userId,
                            class: 'tag'
                        }).text(newTag);
                        tagInput.replaceWith(tagSpan);
                        $('.save-tag.' + attr + '[data-user-id=' + userId + ']').hide();
                        $('.edit-tag.' + attr + '[data-user-id=' + userId + ']').show();
                    }
                });
            });

            $('#add-user').click(function () {
                var name = $('#name').val();
                $.post('/webapi/add_group', {
                    name: name
                }, function (data) {
                    if (data.success) {
                        location.reload();
                        $('#add-user-form').hide();
                        $('#add-user-button').show();
                    } else {
                        console.log(data.error);
                        //location.reload();
                        var errorField = $('#error-field-2');
                        errorField.text(data.error);
                        errorField.removeClass('d-none');
                        console.log(error);

                        setTimeout(function () {
                            errorField.addClass('d-none');
                        }, 5000);
                    }
                });

            });
        });
    </script>
    {% for i in data %}
        <!-- Модальное окно подтверждения удаления -->
        <div class="modal fade" id="confirmDeleteModal{{ i.id }}" tabindex="-1"
             aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteModalLabel">Подтвердите удаление</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Вы уверены, что хотите удалить пользователя {{ i.name }}? <br>
                            <b style="color: red">Вместе с ней удалятся все маяки, группы, ПОЛЬЗОВАТЕЛИ и уведомления привязанные к сети</b>
                            <b>Это действие нельзя будет
                                отменить</b></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                        <button type="button" class="btn btn-danger" id="delete{{ i.id }}" data-uid="{{ i.id }}">
                            Удалить
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $('#delete{{ i.id }}').click(function () {
                console.log(123);
                $.post('/webapi/delete_group/{{ i.id }}', {}, function (data) {
                    if (data.success) {
                        console.log(data.success);
                        location.reload();
                    } else {
                        console.log(data.error);
                        $('#error').text(data.error)
                    }
                });
            });
        </script>

    {% endfor %}
    <div class="modal fade" id="add_group" tabindex="-1"
         aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Добавить сеть</h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="error-field-2" class="alert alert-danger d-none"></div>
                <div class="mb-3">
                    <label for="name" class="form-label">Имя</label>
                    <input type="text" class="form-control" id="name" placeholder="Введите имя" required>
                </div>
                <div class="d-grid">
                    <button id="add-user" class="btn btn-primary">Добавить</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
